@import '../css/normolize.min.css';
@import 'fonts';
@mixin button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
 }
 @mixin font-standart {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #777777;
 }

html {
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
}
body {
    @include font-standart;
    margin: 0 auto;
}
a, li {
    text-decoration: none;
    list-style: none;
}
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.header__background {
    padding: 30px 0 0 0;
    background: linear-gradient(to right, #fd712c 0%, #f21780 100%);
    background-image: url(/img/iPhones.png), linear-gradient(to right, #fd712c 0%, #f21780 100%);
    background-repeat: no-repeat;
    background-position: 146% -39%;
    background-size: auto;}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.logo__title {
    color: #ffffff;
    font-family: 'Dosis';
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    vertical-align: super;
}
.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 0;
}
.menu {
    display: flex;
    align-items: baseline;
}
.menu__item {
     font-weight: 400;
     padding: 0px 20px 0px 20px;
     :hover {
         color: #fd712c;
     }
}
.menu__link {
    color: #fff;
}
.btn {
    @include button-reset;
    color: #000;
    border-radius: 17px;
    background-color: #ffffff;
    padding: 8px 30px;
}
.apptemp {
    display: flex;
    flex-direction: column;
    width: 490px;
    padding: 150px 0 219px 0;
}
.apptemp__header {
    color: #ffffff;
    font-family: "Dosis";
    font-size: 54px;
    font-weight: 600;
    line-height: 60px;
    padding: 0 0 23px 0;
}
.apptemp__txt {
    color: #ffffff;
    padding: 0 0 24px 0;
}
.apptemp__list {
    font-weight: 400;
}